.container {
    width: 482px;
    margin: 20px;
    position: absolute;
    .title{
      color :#f9ff04;
    }
    .toGoHome{
      position: fixed;
      top :10px;
      left:10px;
      width: 100px;
      border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
      padding: 5px;
      cursor:pointer;
      background-color: rgb(76, 73, 73);
      color: whitesmoke;
    }
    .toGoCampominato{
      position: fixed;
      top :10px;
      right:10px;
      width: 100px;
      border-top-right-radius: 14px;
      border-bottom-left-radius:14px ;
      padding: 5px;
      cursor:pointer;
      background-color: rgb(76, 73, 73);
      color: whitesmoke;
    }
  .contanierScacchiera{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    cursor: pointer;
  }
  .scacchiera {
    border:1px solid whitesmoke;
    height: 48px;
   
 
  }
  .color1 {
    background-color:#07001e;
  }
  .punti{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btnGameStart{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f9ff04;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
  }
 
}

@media screen and (max-width: 768px){
.container{
display: flex;
flex-direction: column;
justify-content: center;
width: 322px;
margin-top: 80px;



.containerScacchiera{
  width: 323px;
  height: 350px;
}
.scacchiera{
  width: 32px;
  height: 35px;
}
.punti{
margin: 5px;
display: flex;
justify-content: space-evenly;
align-items: center;
gap :50px;

}
}
}
  
  