.container {
    width: 482px;
    margin: 20px;
    position: absolute;
    .title{
      color: whitesmoke;
    }
    .toGoHome{
      position: fixed;
      top :10px;
      left:10px;
      width: 100px;
      border-bottom-right-radius: 14px;
      border-top-left-radius: 14px;
      padding: 5px;
      cursor:pointer;
      background-color: rgb(76, 73, 73);
      color: whitesmoke;
    }
    .toGoCampominato{
      position: fixed;
      top :10px;
      right:10px;
      width: 100px;
      border-top-right-radius: 14px;
      border-bottom-left-radius:14px ;
      padding: 5px;
      cursor:pointer;
      background-color: rgb(76, 73, 73);
      color: whitesmoke;
    }
  .contanierScacchiera{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    border:1px solid whitesmoke;
    cursor: pointer;
  }
  .scacchiera {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;
 
  }
  .color1 {
    background-color: #7e0707;
  }
  .color1:hover{
    background-color: rgb(229, 0, 0);
  }
  .color2 {
    background-color: rgb(167, 166, 165);
  }
  .color2:hover{
    background-color: rgba(57, 56, 56, 0.998);
  }
  .clickedCell{
    background-color: rgba(47, 25, 23, 0.650);
cursor:no-drop;
  }
  .punti{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btnReset{
    border-radius: 14px;
    cursor: pointer;
    padding: 4px;
    margin-top: 10px;
   
    background-color: rgba(1, 103, 100, 0.9490196078);
    color: whitesmoke;
  }
  .endGameOver{
    width: 482px;
    height: 480px;
    cursor:no-drop;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd473;
  }
  .resultGame{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 95px;
  }
  .titleResult{
    font-size: 3.8rem;
    color: rgb(3, 3, 131);
    text-shadow: rgb(255, 242, 0) 3px 3px;
    font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif;
  }
}

@media screen and (max-width: 768px){
.container{
display: flex;
flex-direction: column;
justify-content: center;
width: 322px;
margin-top: 10px;



.containerScacchiera{
  width: 323px;
  height: 350px;
}
.scacchiera{
  width: 32px;
  height: 35px;
}
.punti{
margin: 5px;
display: flex;
justify-content: space-evenly;
align-items: center;
gap :50px;

}
}
}
  
  