.Home{
width: 50vw;
// background-image: url(OIPnuova.jpeg);
//     background-size: cover;
position: absolute;
margin-top: 100px;
.Title{
    margin-top: 20px;
    font-size: 3rem;
    text-transform: capitalize;
    color:#f9ff04;
    
}
.TitleScelta{
    margin-top: 20px;
    text-transform: capitalize;
    color:#f9ff04; 
}
.btn{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    
}
.btnClick1{
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    padding: 10px;
    cursor:pointer;
    width: 130px;
    background-color: rgb(76, 73, 73);
      color: whitesmoke;
}
.btnClick2{
    border-top-right-radius: 14px;
      border-bottom-left-radius:14px ;
    padding: 10px;
    cursor:pointer;
    width: 130px;
    background-color: rgb(76, 73, 73);
    color: whitesmoke;
}

}


@media screen and (max-width: 768px){

    // .Home {
    //     // display: flex;
    //     // flex-direction: column;
    //     // justify-content: center;
    //     // align-items: center;
    //     // width: 100vw;
    //     // height: 100vh;
    //     // margin-top: 0px;
    //     // background-color: rgb(77, 75, 75);
    // }
    .btn{
        
        gap:14px;
    }
    
}
