/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(sfondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px){
    body{
        background-size:300px 100px;;
        
     } } */