body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(OIPnuova.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px){
    body{
        background-size:auto;
     } }